<h2>List of Products</h2>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody class="table-dark">
        <tr *ngFor="let p of products">
            <td>
                <img class="img-style" [src]="p.imageUrl" alt="NA" [title]="p.productName">
            </td>
            <td>{{p.productName|uppercase}}</td>
            <td>{{p.price|currency:'INR'}}</td>
            <td>{{p.starRating}}</td>
        </tr>
    </tbody>
</table>