<div class="container container-fluid">
    <h2>List of Products</h2>
    <br>
    <div class="col-md-6">
        <label for="txtFilter">Filter By: &nbsp;</label>
        <input type="text" id="txtFilter" class="form-control" [(ngModel)]="filterText">
    </div>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody class="table-dark">
            <tr *ngFor="let p of (products|productFilter:filterText)">
                <td>
                    <img class="img-style" [src]="p.imageUrl" alt="NA" [title]="p.productName">
                </td>
                <td>{{p.productName|uppercase}}</td>
                <td>{{p.price|currency:'INR'}}</td>
                <td>{{p.starRating}}</td>
            </tr>
        </tbody>
    </table>
</div>